<style>
    .footer {
        padding: 10px;
        line-height: 1.5em;
        font-weight: 300;
        font-size: 12px;
        color: #565656;
        text-align: center;
    }
    .footer a, .footer p{
        text-align: center;
        margin: 0;
        font-family: "Open Sans", Helvetica, arial, sans-serif !important;
        font-size: 12px;
        color: #959697;
        letter-spacing: 0;
    }
    .social-icon{
        height: 20px;
        border: 2px solid cornflowerblue;
        border-radius: 50%;
        padding: 5px;
    }
</style>
<hr>
<div class="footer">
    <p>Parkify</p>
    <p>3st Floor, Grove Street, Modern Rd.</p>

    <p><a href="">info@parkify.com</a></p>
    <p><a href="">www.parkify.com</a></p>
    <span>
        <a href=""><img class="social-icon" src="cid:twitter_icon"></a>
        <a href=""><img class="social-icon" src="cid:facebook_icon"></a>
        <a href=""><img class="social-icon" src="cid:linkedin_icon"></a>
        <a href=""><img class="social-icon" src="cid:instagram_icon"></a>
    </span>
</div>
