<style>
    .signature {
        margin-top: 30px;
    }
    .signature p{
        line-height: 0.5em;
    }
</style>
<div class="signature">
    <p><b>Thanks &nbsp;|&nbsp; Parkify Team</b></p>
    <p>
        <a href="mailto:hello@parkify.com"><img style="max-height: 15px; width: auto;" src="cid:email_icon" alt="Email:"/> hello@parkify.com</a> &nbsp;&nbsp;
        <a href="tel:+25470000000"><img style="max-height: 15px; width: auto;" src="cid:phone_icon" alt="Phone:"/> +254 702 654 000</a> or
        <a href="tel:+25470000000">+254 330 135 000</a>
    </p>
    <p>
        <a href="https://www.parkify.com"><img style="max-height: 15px; width: auto;" src="cid:web_icon" alt="Web:"/> www.parkify.com</a>
    </p>
</div>
